# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://fatimatajamal11_db_user:CookGenie123@cluster0.iyj8hyl.mongodb.net/recipe-app?retryWrites=true&w=majority


# Gemini AI API key
GEMINI_API_KEY=AIzaSyDh8gND41pOMzHXuSNOohL7s9PBecYinEE

# Server config
PORT=5000
NODE_ENV=development
